
header {
    background-color: #FFFBF0;
}

p {
    text-align: justify;
}

/* Utility Classes */
.b-color {
    background-color: #8caa17;
    color: white;
}

.text-rang {
    color: #363958;
}

.text-custom {
    color: #3c3c3c;
    font-weight: 600;
    font-size: 18px;
    margin-right: 30px;
}

.prize {
    margin: 0;
}

.card {
    border: none;
    border-radius: 1.2rem;
}
.img-body {
    padding: 1rem;
    background: #F1F1F1;
    border-radius: 20px;
}

.btn:hover {
    background: #647b0a;
    color: white;
}